{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% comment %} <link rel="stylesheet" href="{% static "css/output.css"
        %}"> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        <title>Create Event</title>
    </head>
    <body class="bg-gray-900">
        <div class="w-1/2 mx-auto mt-5 text-gray-300">
            <div><p>{{message}}</p></div>
            <form method="POST">
                {% csrf_token %} {{form.as_p}}
                <button
                    type="submit"
                    class="text-white bg-rose-500 font-bold rounded-lg hover:bg-blue-300 p-2"
                >
                    Submit
                </button>
            </form>
        </div>
    </body>
</html>
