{% extends "dashboard/dashboard.html" %} {% block title %}
<title>Participant Dashboard</title>
{% endblock title %} {% block event %}
<!-- stats grid -->
<div class="my-8 grid grid-cols-4 gap-6">
    <a href="{% url 'participants_dashboard' %}?type=ongoing"><div class="totalTask bg-gray-800 rounded-xl p-6 shadow-sm">
        <h3 class="text-sm font-medium text-gray-300">TODAY'S EVENTS:</h3>
        <div class="taskDetails flex gap-2 items-start justify-between">
            <div class="taskText">
                <p class="text-3xl text-rose-500 font-bold my-1">
                    {{count.todayEvents}}
                </p>
            </div>
            <div class="totalTaskIcon p-3 bg-gray-900 rounded-full">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6 text-blue-300 hover:text-rose-500"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z"
                    />
                </svg>
            </div>
        </div>
    </div>
    </a>
    <a href="{% url 'participants_dashboard' %}?type=all">
        <div class="totalTask bg-gray-800 rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-300">TOTAL EVENTS</h3>
            <div class="taskDetails flex gap-2 items-start justify-between">
                <div class="taskText">
                    <p class="text-3xl text-rose-500 font-bold my-1">
                        {{count.totalEvents}}
                    </p>
                </div>
                <div class="totalTaskIcon p-3 bg-gray-900 rounded-full">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6 text-blue-300 hover:text-rose-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'participants_dashboard' %}?type=past">
        <div class="totalTask bg-gray-800 rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-300">PAST EVENTS</h3>
            <div class="taskDetails flex gap-2 items-start justify-between">
                <div class="taskText">
                    <p class="text-3xl text-rose-500 font-bold my-1">
                        {{count.pastEvents}}
                    </p>
                </div>
                <div class="totalTaskIcon p-3 bg-grey-900 rounded-full">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6 text-blue-300 hover:text-rose-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'participants_dashboard' %}?type=upcoming">
        <div class="totalTask bg-gray-800 rounded-xl p-6 shadow-sm">
            <h3 class="text-sm font-medium text-gray-200">UPCOMING EVENTS</h3>
            <div class="taskDetails flex gap-2 items-start justify-between">
                <div class="taskText">
                    <p class="text-3xl text-rose-500 font-bold my-1">
                        {{count.upcomingEvents}}
                    </p>
                </div>
                <div class="totalTaskIcon p-3 bg-gray-900 rounded-full">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="size-6 text-blue-300 hover:text-rose-500"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </a>
</div>
<!-- task table -->
<h1 class="text-2xl font-semibold text-blue-300 my-5">
    {{title}} <span class="text-rose-500">Events:</span>
</h1>

<div
    class="bg-gray-800 rounded-xl shadow-sm border-b border-gray-500 text-sm text-white p-2 divide-y divide-gray-500"
>
    <div class="grid grid-cols-4 p-2">
        <div class="taskTitle">
            <h1>EVENT NAME</h1>
        </div>
        <div class="Priority">
            <h1>CATEGORY</h1>
        </div>
        <div class="team">
            <h1>PARTICIPANTS</h1>
        </div>
        <div class="createdAt">
            <h1>LOCATION</h1>
        </div>
    </div>

    <!-- task item -->

    {% for event in events %}
    <div class="p-3">
        <a href="{% url 'eventDetails' event.id  %}">
        <div class="grid grid-cols-4 items-center">
            <div class="flex items-center gap-2">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-400 rounded-full"></div>
                    <div class="flex justify-center items-center gap-2">
                        <h1>{{event.name}}</h1>
                    <form action="{% url 'rsvp_event' event.id %}" method="POST">
                            {% csrf_token %}
                            <button
                                type="submit"
                                class="px-2 py-1 bg-rose-500 hover:bg-blue-300 rounded-xl my-2"
                            >
                                RSVP
                            </button>
                    </form>
                    </div>
                </div>
            </div>
            <div class="Priority">
                <span
                    class="px-3 rounded-full bg-blue-50 py-1 text-sm text-blue-500"
                    >{{event.category}}</span
                >
            </div>
            <div class="flex">
                {% for part in event.participants.all|slice:":3" %}
                <div class="team flex">
                    <button
                        class="bg-rose-500 rounded-full w-8 h-8 text-white font-semibold hover:bg-blue-300 border-2 border-white"
                    >
                        {{ part.name|slice:":2"|upper }}
                    </button>
                </div>
                {% endfor %}
            </div>
            <div class="timeline">
                <span class="text-gray-400">{{event.location}}</span>
            </div>
        </div>
        </a>
    </div>

    {% endfor %}
</div>
{% endblock event %}
